<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
        <title>Nolop Air Quality</title>
    </head>
    <body>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <div id="airChart"></div>
        </div>
    </body>
    <script>
    async function plotData() {
      try {
        var today  = new Date();
        var end = today.toISOString("en-US").split('/').join('-');
        console.log(end);
        const [air1, air2, air3, air4, air5] = await Promise.all([
          fetch('http://air1.nolop.org:5000/range/2021-10-15/' + end).then((response) => response.json()),
          fetch('http://air2.nolop.org:5000/range/2021-10-15/' + end).then((response) => response.json()),
          fetch('http://air3.nolop.org:5000/range/2021-10-15/' + end).then((response) => response.json()),
          fetch('http://air4.nolop.org:5000/range/2021-10-15/' + end).then((response) => response.json()),
          fetch('http://air5.nolop.org:5000/range/2021-10-15/' + end).then((response) => response.json()),
        ]);
        var trace1 = {
            x: air1['timestamps'],
            y: air1['data'],
            type: 'scatter',
            name: 'air1'
        };
        var trace2 = {
            x: air2['timestamps'],
            y: air2['data'],
            type: 'scatter',
            name: 'air2'
        };
        var trace3 = {
            x: air3['timestamps'],
            y: air3['data'],
            type: 'scatter',
            name: 'air3'
        };
        var trace4 = {
            x: air4['timestamps'],
            y: air4['data'],
            type: 'scatter',
            name: 'air4'
        };
        var trace5 = {
            x: air5['timestamps'],
            y: air5['data'],
            type: 'scatter',
            name: 'air5'
        };
        var traces = [trace1, trace2, trace3, trace4, trace5];
        Plotly.newPlot('airChart', traces);
      } catch (err) {
        console.log(err);
      }
    }
    plotData();
    </script>
</html>
