<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
        <title>Nolop Air Quality</title>
    </head>
    <body>
        This is fine.
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="airChart" width="400" height="400"></canvas>
        </div>
    </body>
    <script>
    var ctx = document.getElementById('airChart').getContext("2d");

    var timestamps = {{timestamps|safe}};
    var readings = {{data|safe}};

    var data = {
        labels: timestamps,
        datasets: [
            {
                label: "CO2 concentration in Nolop [PPM]",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: readings
            }
        ]
    };
    var airChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    max: 1000
                }
            }
        }
    });
    </script>
v</html>
